:root {
  --main-color1: black;
  --main-color2: white;
  --accent-color-1: #64a407;
  --accent-color-2: #a4cc25;
}

@font-face {
  font-family: 'Daxline';
  src: url('assets/fonts/ff-daxline-pro-normal-500.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daxline';
  src: url('assets/fonts/ff-daxline-pro-normal-200.woff2') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Daxline';
  src: url('assets/fonts/ff-daxline-pro-normal-700.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Daxline';
  src: url('assets/fonts/ff-daxline-pro-normal-900.woff2') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Daxline Light';
  src: url('assets/fonts/ff-daxline-pro-normal-200.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daxline Bold';
  src: url('assets/fonts/ff-daxline-pro-normal-700.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Daxline Heavy';
  src: url('assets/fonts/ff-daxline-pro-normal-900.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LL Icon';
  src: url('assets/fonts/ll-icon-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
